body {

  height: 700px;
  background: linear-gradient(to top right, #66ff66 0%, #ffff00 100%);
  background-attachment: fixed;
}
.app {

  text-align: center;
}
h1, p {
  font-family: 'Gugi', cursive;
}
h1 {
  font-size: 5rem;
}
.Papp {
  margin-top: 50px;
}

button {
  font-family: 'Gugi', cursive;
  margin: 50px 20px 20px 20px;
  width: 140px;
  height: 45px;
  border: 0;
  border-radius: 5px;
  outline: none;
}
